# Node modules
node_modules/

# Build output
dist/

# Environment variables
.env

# Production environment
.env.production

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VSCode settings
.vscode/

# OS files
.DS_Store
